default: &default
  adapter: postgresql
  encoding: unicode
  host: postgre-db
  port: 5432
  username: dbusera
  password: "0000"
  pool: 5

development:
  <<: *default
  database: chatapp_development

test:
  <<: *default
  database: chatapp_test

production:
  <<: *default
  database: chatapp_production