@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.shadow-left-top {
  box-shadow: -4px -6px 0 rgba(0, 0, 0, 0.15);
}

.no-page-scroll,
.no-page-scroll html,
.no-page-scroll body {
  overflow: hidden;
  height: 100%;
}