services:
  postgre-db:
    image: postgres:15
    container_name: postgre-db
    env_file:
      - db/.env.db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend-net

  rails-api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: rails-api
    command:
      - bash,-lc,"./start.sh"
    volumes:
      - ./backend:/app
    env_file:
      - backend/.env.production
      - db/.env.db
      - .env
    depends_on:
      - postgre-db
    networks:
      - backend-net
    ports:
      - "8443:8443"
    expose:
      - "8000"
    environment:
      - BFF_SHARED_TOKEN=${BFF_SHARED_TOKEN}
      - RAILS_ENV=production
      - PORT=8000
      - PUMA_BIND_HOST=127.0.0.1
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx-proxy:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx-proxy
    depends_on:
      - rails-api
    network_mode: "service:rails-api"
    volumes:
      - ./nginx/ecs.conf:/etc/nginx/ecs.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro

volumes:
  static_volume:
  postgres_data:

networks:
  backend-net:
