services:
  postgre-db:
    image: postgres:15
    container_name: postgre-db
    env_file:
      - db/.env.db
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - backend-net

  rails-api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: rails-api
    command:
      - bash,-lc,"./start.sh"
    volumes:
      - static_volume:/app/public
    env_file:
      - backend/.env.production
      - db/.env.db
      - .env
    depends_on:
      - postgre-db
    networks:
      - backend-net
    ports:
      - "8000:8000"
    environment:
      - BFF_SHARED_TOKEN=${BFF_SHARED_TOKEN}
      - RAILS_ENV=development

  nginx-proxy:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx-proxy
    volumes:
      - static_volume:/app/static
    depends_on:
      - rails-api
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "80:80"
    networks:
      - backend-net

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: hiroki020628@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 0000
    ports:
      - "5050:80"
    networks:
      - backend-net

volumes:
  static_volume:
  postgres_data:

networks:
  backend-net:
